<div id="displayChatMessages" class="display-chat-messages">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <div *ngIf="chatService.isPullingMessages" id="" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <ng-template ngFor let-m [ngForOf]="currentDisplayedMessages">

        <!-- Date MESSAGE CONTAINER -->
        <div class="date-message-container" *ngIf="m.fromId === constants.CHAT_MESSAGE_DATE_TYPE">
            <div class="date-bubble">
                {{ m?.createdAt | date: 'dd.MM.yyyy'}}
            </div>
        </div>

        <!-- SYSTEM MESSAGE CONTAINER -->
        <div id="{{m?.id}}" class="System-message-container" *ngIf="m.fromId === constants.CHAT_MESSAGE_SYSTEM_INIT_TYPE">
            <div class="system-bubble">
                {{ m?.body }}
                {{ m?.createdAt | date: "hh:mm" }}</div>
        </div>

        <!-- INCOMING MESSAGE CONTAINER -->
        <div class="incoming-message-container" id="{{m?.id}}"
            *ngIf="m.fromId !== localUser.id && m.fromId !== constants.CHAT_MESSAGE_SYSTEM_INIT_TYPE && m.fromId !== constants.CHAT_MESSAGE_DATE_TYPE">
            <div [innerHTML]="m.searchBody ? m.searchBody : m.body" class="chat-bubble left">
            </div>
            <span>{{ m?.createdAt | date: "hh:mm" }}</span>
        </div>

        <!-- OUTGOING MESSAGE CONTAINER -->
        <div class="outgoing-message-container" id="{{m?.id}}" *ngIf="m.fromId === localUser.id">
            <div [innerHTML]="m.searchBody ? m.searchBody : m.body" class="chat-bubble right">
                
            </div>
            <span>{{ m?.createdAt | date: "hh:mm" }}</span>
        </div>

    </ng-template>




</div>