<div style="display:flex; flex-direction:column; width:100%; height:74vh; background-color: white; overflow: auto;">

    <img style="width:100px;" [src]="imgsrc" >
    <!-- {{chatService.appComponent.currentDisplayedLeftPanel}} -->
    <ng-template ngFor let-m [ngForOf]="currentDisplayMessages">

        <!-- Date MESSAGE CONTAINER -->
        <div style="width:100%; display:flex; justify-content: center; margin-top:15px;"
            *ngIf="m.fromId === constants.CHAT_MESSAGE_DATE_TYPE">
            <div style="background-color: #e1f5feeb; padding: 5px 9px; border-radius:5px;">
                {{ m?.createdAt | date: 'dd.MM.yyyy'}}
            </div>
        </div>

        <!-- SYSTEM MESSAGE CONTAINER -->
        <div style="width:100%; display:flex; justify-content: center; margin-top:15px;"
            *ngIf="m.fromId === constants.CHAT_MESSAGE_SYSTEM_TYPE">
            <div style="background-color: #fff5c4f2; padding: 5px 9px; border-radius:5px; "> {{ m?.body }}
                {{ m?.createdAt | date: "hh:mm" }}</div>
        </div>

        <!-- INCOMING MESSAGE CONTAINER -->
        <div style="width:100%; display:flex; justify-content: flex-start; margin-top:15px;"
            *ngIf="m.fromId !== localUser.id && m.fromId !== constants.CHAT_MESSAGE_SYSTEM_TYPE && m.fromId !== constants.CHAT_MESSAGE_DATE_TYPE">
            <div style="background-color: #F1F1F1; padding: 5px 9px; border-radius:5px; "> {{ m?.body }}
                {{ m?.createdAt | date: "hh:mm" }}</div>

        </div>

        <!-- OUTGOING MESSAGE CONTAINER -->
        <div style="width:100%; display:flex; justify-content: flex-end; margin-top:15px;"
            *ngIf="m.fromId === localUser.id">
            <div style="background-color: #dcf8c6; padding: 5px 9px; border-radius:5px; ">
                {{ m?.body}}
                {{ m?.createdAt | date: "hh:mm" }}</div><img src="assets/tail.png">

        </div>

    </ng-template>




</div>