<div class="contacts">
    <div class="return-2-user-panel" >
        <div class="return-button-2-panel">
            <div class="r2upa">
               <img (click)="initSlideOut()" src="assets/left-arrow.svg">
            </div>
            <div class="r2bp">
                {{ 'new_chat' | tl8 }}
            </div>
        </div>
    </div>
    <div class="search-contact-container" [ngClass]="isFocused ? 'is-focused' : ''">


        <input (focus)="isClicked()" (focusout)="focusOut()" [(ngModel)]="query"
            class="search-contact-inputfield" type="text" placeholder="{{ 'search_contacts' | tl8 }}">
        <div class="icons">
            <span class="magni"></span>
            <span (click)="focusOut()" class="blue-arrow"></span>
        </div>
    </div>
    <div class="contacts-container-wrapper">
        


        



        <div class="new-grp row-item"  (click)="initDisplayAddGroupChat()">
            <div class="icon">
                <img src="assets/group.svg">
            </div>
            <span>
               {{ 'new_group' | tl8 }}
            </span>
        </div>

        <div class="contacted-recently">
            <span>{{ 'frequently_contacted' | tl8 }}</span>
        </div>
        <div class="contacts-container">
            <div *ngFor="let contact of contacts" class="contacts-row">
                <div (click)="setDisplayedChatRoomByContact(contact)" style="width:100%; display: flex; flex-direction: row;">
                    <div>
                        <img src="{{contact.iconUrl ? contact.iconUrl : 'assets/default-user-icon.svg'}}">
                    </div>
                    <div class="contact-text-container">
                        {{contact?.name}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- <div>
                    <img style="border-radius: 10px; width:20px;" src='assets/remove-button.svg' (click)="removeContact(contact)">
                </div> -->