<div style="display:flex; flex-direction:column;">
    
        <!-- <div *ngFor="let chatRoom of availableRooms"> <img style="border-radius: 20px; width:40px;" src="{{chatRoom.iconUrl ? chatRoom.iconUrl : 'assets/default-user-icon.svg'}}"> {{chatRoom.title}}</div>
         -->
        <div class="contacts-container">
            <div *ngFor="let contact of contacts" class="contacts-row" (click)="toggleDisplayedRoom(chatRoom.value)">
                <div>
                    <img style="border-radius: 20px; width:40px;" src="{{contact.iconUrl ? contact.iconUrl : 'assets/default-user-icon.svg'}}">
                </div>
                <div class="contact-text-container">
                    {{contact?.name}}
                </div>
            </div>
        </div>
    </div>