<div class="wrapper">
    <div class="chat-panel-header">
        <div style="width:70%; margin-left: 10px;">
            <div style="display:flex;">
                <div><img style="width:50px; border-radius: 25px;" src="{{displayedChatRoom?.iconUrl}}"></div>
                <div style="display:flex; flex-direction: column; padding: 8px;">
                    <div style="font-weight: bolder;"> {{displayedChatRoom | chatRoomName}}</div>
                    <div style="display: flex;">
                        <span *ngFor="let id of displayedChatRoom?.userIds; let i = index" style="margin-right: 4px;">
                            {{ id | contactName}} {{ (displayedChatRoom && i != displayedChatRoom.userIds.length-1) ? ',' : '' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:30%; display:flex; align-items:center; justify-content: flex-end;">
            <div class="menu-item-container"> <img  class="magnifier-img" src="assets/magnifier-glass.svg">
            </div>
            <div class="menu-item-container" tabindex="-1" (focusout)="displayRoomMenu=!displayRoomMenu">
                <img (click)="displayRoomMenu=!displayRoomMenu" class="menu-img" src="assets/burger.svg">
                <div id="room-menu" *ngIf="displayRoomMenu" class="room-menu">
                    <div class="room-row sub-room-menu">
                        Gruppeninfo
                    </div>
                    <div class="room-row sub-room-menu">
                        Nachrichten auswählen!
                    </div>
                    <div class="room-row sub-room-menu">
                        Nachrichten leeren
                    </div>
                    <div class="room-row sub-room-menu">
                        Gruppe verlassen
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-displaychat></app-displaychat>
    <div class="senden-container" >
        <img src="assets/happiness.svg" [hidden]="!displayedChatRoom">
        <input (keyup.enter)="triggerSendChatMessage()" [(ngModel)]="chatInputText" [hidden]="!displayedChatRoom" placeholder="Write a message">
        <img src="assets/paper-plane.svg" [hidden]="!displayedChatRoom" (click)="triggerSendChatMessage()">
    </div>
</div>
