<div style="display:flex; flex-direction:column; background-color: #F1F1F1;">
    <div class="chat-panel-header">
        <div style="width:70%; margin-left: 10px;">
            <div style="display:flex;">
                <div><img style="width:50px; border-radius: 25px;" src="{{displayedChatRoom?.iconUrl}}"></div>
                <div style="display:flex; flex-direction: column; padding: 8px;">
                    <div style="font-weight: bolder;"> {{values.resolveChatRoomName(displayedChatRoom)}}</div>
                    <div style="display: flex;"> 
                        <span *ngFor="let id of displayedChatRoom?.userIds" style="margin-right: 4px;">
                            {{ values.resolveContact(id)?.name }},
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:30%; display:flex; align-items:center; justify-content: flex-end;">
            <div class="menu-item-container"> <img class="magnifier-img" src="assets/magnifier-glass.svg">
            </div>
            <div class="menu-item-container"> <img class="menu-img" src="assets/burger.svg">
                <div [hidden]="!displayRoomMenu" class="room-menu">
                    <div class="room-row super-room-menu">
                        Gruppeninfo
                    </div>
                    <div class="room-row super-room-menu">
                        Nachrichten auswählen
                    </div>
                    <div class="room-row super-room-menu">
                        Stumm
                    </div>
                    <div class="room-row super-room-menu">
                        Nachrichten leeren
                    </div>
                    <div class="room-row super-room-menu">
                        Gruppe verlassen
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-displaychat></app-displaychat>
    <div class="senden-container">
        <img src="assets/happiness.svg">
        <input (keyup.enter)="triggerSendChatMessage()" [(ngModel)]="chatInputText">
        <img src="assets/paper-plane.svg">
    </div>
</div>