<div style="display:flex; flex-direction:column; background-color: #F1F1F1;">
    <div class="chat-panel-header">
        <div class="menu-item-container"> <img class="magnifier-img" src="assets/magnifier-glass.svg">
        </div>
        <div class="menu-item-container"> <img class="menu-img" src="assets/burger.svg">
        </div>


    </div>
    <app-displaychat></app-displaychat>
    <div class="senden-container">
        <img src="assets/happiness.svg">
        <input>
        <img src="assets/paper-plane.svg">
    </div>
</div>