.wrapper {
  height: 100%;
  flex-direction:column;
  background-color: #F1F1F1;
  overflow:auto;
  justify-content: center;
  position: relative;
  display: flex;
}

.rightpanel-burger-menu {
  position: relative;
  margin: 0 10px;
  padding: 5px;
  border-radius: 23px;
  background: none;
  transition: 0.2s;
}

.rightpanel-burger-menu:focus{
outline: none;
}

.rightpanel-burger-menu.active {
transition: 0.2s;
background: rgba(0,0,0,.1);
}


.senden-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    background: var(--white-grey);
}

.senden-container img {
    width: 3vh;
    margin: 0 20px;
    opacity: 0.5;
}

.senden-container input {
    width: 90%;
    border-radius: 25px;
    border: none;
    padding: 0 15px;
    min-height: 38px;
}

.senden-container input:focus {
  outline: none;
}

.chat-panel-header {
    width: 100%;
    min-height: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    background: var(--white-grey);
}

.chat-panel-left-container{
  width:70%;
  margin-left: 10px;
}

.chat-name-container{
  display:flex;
}

.chat-img {
  width:40px;
  border-radius: 25px;
  margin: 7px 0 0 0;
}

.chat-name-member {
  display:flex;
  flex-direction: column;
  padding: 8px;
}

.chat-name{
  font-weight: bolder;
}

.chat-member-container {
  display: flex;
}

.chat-member {
  margin-right: 4px;
}

.chat-panel-right-container {
  width:30%;
  display:flex;
  align-items:center;
  justify-content: flex-end;
}

.menu-img {
    height: 35px;
    opacity: 0.5;
}

.magnifier-img {
    height: 25px;
    opacity: 0.5;
}


.room-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.16);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
}

.sub-room-menu {
    background-color: white;
    color: #444;
    padding-left: 24px;
    padding-right: 23px;
    padding-top: 13px;
}

.room-row {
    width: 200px;
    height: 40px;
    cursor:pointer;
}

.room-row:hover {
    background-color: rgb(235, 235, 235);
}

.menu-item-container {
    position: relative;
    padding: 10px;
}


  .wrapper.chat {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 65px 1fr auto;
  }

  .chat-panel-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
  }

  .displaychat {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: auto;
    z-index: 1;
  }
  .senden-container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    z-index: 1;
  }

  .overlay-comp-container{
    width:0px;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }


  .animation-in-from-right {
    animation: animFromRight 0.25s ease-out forwards;
  }

  @keyframes animFromRight {
    0% {
      width:0px;
    }
    100% {
      width:400px;
    }
  }

  .animation-out-to-right {
    animation: animFromLeft 0.25s ease-out forwards;
  }

  @keyframes animFromLeft {
    0% {
      width:400px;
    }
    100% {
      width:0px;
    }
  }



  .wrapper.home:after {
    background:none;
  }

  .wrapper:after {
    content: "";
    background: url(../../assets/bg-chat.png);
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }

  .wrapper.home h1{
    text-align: center;
    font-weight: 100;
  }



 
  