.container {
    width:100vw;
    padding: 0;
    display: grid;
    grid-template-rows: 90vh 10vh;
    grid-template-columns: 20vw 80vw;
}

.left-panel-container {
    grid-column-start:1; 
    grid-column-end:2; 
    grid-row-start:1; 
    grid-row-end:2; 
}
y
.left-chat-container {
    grid-column-start:2; 
    grid-column-end:3; 
    grid-row-start:1; 
    grid-row-end:2; 
}

.footer-container {
    grid-column-start:1; 
    grid-column-end:3; 
    grid-row-start:2; 
    grid-row-end:3; 
}