<div class="left-panel">
    <div class="user-panel">
        <div class="user-app-logo">
            <img class="user-app-logo-img" src="assets/keemo-logo.png">
        </div>
        <div class="user-app-burger">
            <img class="user-app-burger-img" src="assets/burger.svg">
        </div>
    </div>
    <div class="search-contact-container"> 
        <input class="search-contact-inputfield" type="text" placeholder="search or start new chat">
    </div>
    <div class="rooms-container"> 
        <app-rooms></app-rooms>
    </div>
</div>
