<div class="left-panel">
    <div class="user-panel">
        <div class="user-app-logo">
            <img *ngIf="localUser" class="user-app-logo-img" src="{{localUser.iconUrl ? localUser.iconUrl : 'assets/default-user-icon.svg'}}">
        </div>
        <div class="user-name">
            {{localUser?.name}}
        </div>
        <div class="user-list">
            <img class="user-list-img" src="assets/comment.svg">
        </div>
        <div class="new-user-logo">
            <img class="new-user-logo-img" src="assets/new-user.svg" (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.ADD_USER_PANEL">
        
        </div>
        <div class="user-app-burger">
            <img class="user-app-burger-img" src="assets/threepoints.svg">
        </div>
    </div>
    <div class="search-rooms-container">
        <div class="search-contact-container">
            <input class="search-contact-inputfield" type="text" placeholder="search or start new chat">
        </div>
        <div class="rooms-container">
            <app-rooms></app-rooms>
        </div>
    </div>
</div>