<div class="left-panel">
        <div *ngIf="displayProfile" class="profile">
                <div class="return-2-user-panel" >
                    <div class="return-button-2-panel">
                        <!--<div class="r2upa">
                            <img src="assets/left-arrow.svg">
                        </div>!-->
                        <div class="r2upa">
                           <img src="assets/left-arrow.svg">
                        </div>
                        <div class="r2bp">
                            Profil
                        </div>
                    </div>
                </div>
                <div class="profile-container">
                    <div class="profile-pic-container">
                        <div class="pp"> 
                            <!--<img *ngIf="localUser" class="img-test" src="{{localUser.iconUrl ? localUser.iconUrl : 'assets/default-user-icon.svg'}}">!-->
                            <img src="assets/test-image.jpg" class="img-test">
                        </div>
                        
                    </div>
                    <div class="edit-name-container">
                        <div class="profile-name">
                            <span>
                                Dein Name
                            </span>
                        </div>
                        <div class="edit-profile-name">
                            <input  type="text" placeholder="edit name">
                        </div>
                    </div>
                    <div class="disclaimer-text">
                        Das ist nicht dein Benutzername oder PIN-CODE. Dieser Name ist für deine WhatsApp Kontakte sichtbar.
                    </div>
                    <div class="edit-name-container">
                        <div class="profile-name">
                            <span>
                                Info
                            </span>
                        </div>
                        <div class="edit-profile-name">
                            <input  type="text" placeholder="edit info">
                        </div>
                    </div>
                </div>
            </div>
    <div class="user-panel">
        <div class="user-app-logo">
            <img *ngIf="localUser" class="user-app-logo-img"
                src="{{localUser.iconUrl ? localUser.iconUrl : 'assets/default-user-icon.svg'}}">
        </div>
        <div class="user-name">
            {{localUser?.name}}
        </div>
        <div class="user-list">
            <img class="user-list-img" src="assets/comment.svg"
                (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.DISPLAY_CONTACTS_PANEL">
        </div>
        <div class="new-user-logo">
            <img class="new-user-logo-img" src="assets/new-user.svg"
                (click)="chatService.appComponent.currentDisplayedLeftPanel=constants?.ADD_USER_PANEL">

        </div>
        <div class="user-app-burger">
            <img class="user-app-burger-img" src="assets/threepoints.svg">
            <div *ngIf="displayUserMenu" class="user-menu">
                <div class="menu-row super-user-menu">
                    Neue Gruppe
                </div>
                <div class="menu-row super-user-menu">
                    Profil
                </div>
                <div class="menu-row super-user-menu">
                    Archivieren
                </div>
                <div class="menu-row super-user-menu">
                    Mit Stern markieren
                </div>
                <div class="menu-row super-user-menu">
                    Einstellung
                </div>
                <div class="menu-row super-user-menu">
                    Abmelden
                </div>
            </div>
        </div>
    </div>

    <!---
    <button onclick="document.getElementById('file-input').click();">Open</button>
    <input [(ngModel)]="uploadImage" (change)="encodeImageFileAsURL()" id="file-input" type="file" name="name"
        style="display: none;" /> -->

    <div class="search-contact-container">
        <input class="search-contact-inputfield" type="text" placeholder="search chats">
    </div>
    <div class="rooms-container">
        <div *ngFor="let chatRoom of availableRooms | keyvalue" class="rooms-row"
            (click)="toggleDisplayedRoom(chatRoom.value)">
            <div>
                <img style="border-radius: 20px; width:40px;"
                    src="{{chatRoom.iconUrl ? chatRoom.iconUrl : 'assets/default-user-icon.svg'}}">
            </div>
            <div style="display:flex; flex-direction: column; align-items: center; justify-content: center; width:100%;">
                <div class="room-title-container">
                    {{values.resolveChatRoomName(chatRoom.value)}}
                </div>
                <div class="room-last-message-container">
                    {{values.resolveLatestChatMessageBody(chatRoom.value)}}
                </div>
            </div>

        </div>

    </div>
</div>