<div class="adduser">
    <div class="return-2-user-panel">
        <div class="return-button-2-panel">
            <div class="r2upa">
                <img (click)="initSlideOut()" src="assets/left-arrow.svg">
            </div>
            <div class="r2bp">
                {{ 'add_new_contact' | tl8 }}
            </div>
        </div>
    </div>


    <div class="search-contact-container" [ngClass]="isFocused ? 'is-focused' : ''">


        <input (focus)="isClicked()" (focusout)="focusOut()" [(ngModel)]="searchNewContactInputText"
            class="search-contact-inputfield" (keyup.enter)="triggerNewContactSearch()" type="text" placeholder="{{ 'add_new_contact' | tl8 }}">
        <div class="icons">
            <span class="magni"></span>
            <span (click)="focusOut()" class="blue-arrow"></span>
        </div>
    </div>



    <div class="rooms-container">
        <div *ngFor="let contact of newContactsList" class="new-contact-row">
            <div class="new-contact-icon-container">
                <img src="assets/testicon.png" class="new-contact-icon">
            </div>
            <div class="new-contact-text-container">
                {{contact?.name}}
            </div>
            <div class="create-room-icon-container" (click)="createRoom(contact)">
            </div>
        </div>
    </div>
</div>
