<div class="profile">
    <div class="return-2-user-panel">
        <div class="return-button-2-panel">
            <div class="r2upa">
                <img (click)="initSlideOut()" src="assets/close.svg">
            </div>
            <div class="r2bp">
                Gruppenprofil
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-pic-container">
            <div class="pp">
                <!--<img *ngIf="localUser" class="img-test" src="{{localUser.iconUrl ? localUser.iconUrl : 'assets/default-user-icon.svg'}}">!-->
                <img (click)="!readOnly ? fileInput.click() : ''" src="{{currentChatRoom | roomImg}}" class="img-test">
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            </div>

        </div>
        <div class="edit-name-container">

            <div class="edit-profile-name">
                <input tabindex="-1" id="checkbox1" type="checkbox">
                <label *ngIf="!readOnly" for="checkbox1" (click)="triggerUpdateChatRoomProfile()"></label>
                <div *ngIf="!readOnly" class="submenu"><span>12</span><a class="smiley"></a><span></span></div>
                <input [(ngModel)]="roomTitleText" type="text" placeholder="Gruppenname">
                <span></span>

            </div>
        </div>
        <div class="edit-info-container">
            <div class="profile-info">
                <span>
                    {{ 'description' | tl8 }}
                </span>
            </div>
            <div class="edit-profile-info">
                <input tabindex="-1" id="checkbox2" type="checkbox">
                <label *ngIf="!readOnly" for="checkbox2" (click)="triggerUpdateChatRoomProfile()"></label>
                <div *ngIf="!readOnly" class="submenu"><span>12</span><a class="smiley"></a><span></span></div>
                <input [(ngModel)]="description" type="text" placeholder="Gruppenbeschreibung hinzufügen">
                <span></span>
            </div>
        </div>

        <div class="edit-name-container">
            <div class="profile-name">
                <span>
                    Gruppenmitglieder
                </span>
            </div>
            <div *ngIf="currentChatRoom" class="group-members">
                <div *ngFor="let id of currentChatRoom.userIds" class="contact-row">
                    <div class="new-contact-icon-container">
                        <img src="{{id | userImg}}" class="new-contact-icon">
                    </div>
                    <div class="new-contact-text-container">
                        {{ id | contactName }}
                    </div>
                    <div class="create-room-icon-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="profile">
    <div class="return-2-user-panel">
        <div class="return-button-2-panel">

            <div class="r2upa">
                <img (click)="initSlideOut()"
                    src="assets/left-arrow.svg">
            </div>
            <div class="r2bp">
                Gruppenprofil
            </div>
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-pic-container">
            <div class="pp">
                <img (click)="!readOnly ? fileInput.click() : ''"
                    src="{{currentChatRoom | roomImg}}" class="img-test">
                <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            </div>

        </div>
        <div class="edit-name-container">
            <div class="profile-name">
                <span>
                    Gruppenname
                </span>
            </div>
            <div class="edit-profile-name">
                <input type="text" (change)="setChatroomTitle()" [(ngModel)]="roomTitleText"
                    placeholder="Gruppentitel">
            </div>
        </div>
        <div class="edit-name-container">
            <div class="profile-name">
                <span>
                    Thema
                </span>
            </div>
            <div class="edit-profile-name">
                <input [(ngModel)]="info" type="text" placeholder="edit info">
            </div>
        </div>
        <div class="edit-name-container">
            <div class="profile-name">
                <span>
                    Gruppenmitglieder
                </span>
            </div>
            <div *ngIf="currentChatRoom" class="edit-profile-name">
                <span *ngFor="let id of currentChatRoom.userIds">
                    {{ id | contactName}}, </span>
            </div>
        </div>
    </div>
</div> -->