<div style="display:flex; flex-direction:column;">
    
    <!-- <div *ngFor="let chatRoom of availableRooms"> <img style="border-radius: 20px; width:40px;" src="{{chatRoom.iconUrl ? chatRoom.iconUrl : 'assets/default-user-icon.svg'}}"> {{chatRoom.title}}</div>
     -->
    <div class="rooms-container">
        <div *ngFor="let chatRoom of availableRooms | keyvalue" class="rooms-row" (click)="toggleDisplayedRoom(chatRoom.value)">
            <div>
                <img style="border-radius: 20px; width:40px;" src="{{chatRoom.iconUrl ? chatRoom.iconUrl : 'assets/default-user-icon.svg'}}">
            </div>
            <div class="room-text-container">
                {{chatRoom?.value.title}}
            </div>
            <div [hidden]="!chatRoom.value.unseenChatMessageIds || chatRoom.value.unseenChatMessageIds == 0" style="border-radius:50%; padding: 3px; background-color: red;">
                    {{chatRoom.value.unseenChatMessageIds?.length}}
            </div>
        </div>
    </div>
</div>